<div class="cards-container">
    <div class="card">
      <img class="card-img-top" [src]="urlImage" alt="zapatos">
      <div class="card-body">
        <h1 class="card-title">{{title}}</h1>
        <h2 class="card-subtitle">{{product}}</h2>
        <p class="card-text">{{description}}</p>
        <p class="card-price">$ {{price}}</p>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" [src]="urlImage1" alt="Carros">
      <div class="card-body">
        <h1 class="card-title">{{title1}}</h1>
        <h2 class="card-subtitle">{{product1}}</h2>
        <p class="card-text">{{description1}}</p>
        <p class="card-price">$ {{price1}}</p>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" [src]="urlImage2" alt="anillos">
      <div class="card-body">
        <h1 class="card-title">{{title2}}</h1>
        <h2 class="card-subtitle">{{product2}}</h2>
        <p class="card-text">{{description2}}</p>
        <p class="card-price">$ {{price2}}</p>
      </div>
    </div>
  </div>
  